.one{
	margin-top: 50px;
	background-color: white;
	opacity: .9;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 5px;
	border-radius: 5px;
}

.two{
	margin-top: 50px;
	background-color: white;
	opacity: .9;
	text-align: left;
	padding-bottom: 10px;
	padding-top: 5px;
	border-radius: 5px;
}
.three{
	font-family: 'Josefin Slab', serif;
	font-size: 10px;
	text-align: left;
}

.right{
	position: relative;
	left: 300px;
}

.footer{
	font-family: 'Josefin Slab', serif;
	position: sticky;
	width: 100%;
	bottom: -85px;
	padding: 30px;
	margin-top: 50px;
	margin-bottom: -10px;
	background-color: white;
	text-align: center;

}